@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

html .container {
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #2f4050;
    font-size: 13px;
    color: #2f4050;
    overflow-x: hidden;
    height: 100%;
    word-wrap: break-word;
}

h2 {
    font-size: 26px;
}


/*
 *
 * Navbar + affix
 *
 */

.kumuluz-navbar {
    border-radius: 0;
    margin-bottom: -100px;
    height: 100px;
    width: 100%;
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    transition: all .5s ease;
}

.kumuluz-navbar.affix {
    position: fixed;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    height: 50px;
    z-index: 10;
    transition: all .5s ease;
}

.kumuluz-navbar img {
    width: 100px;
    margin-right: 40px;
}

.navbar-brand>img.logo-light {
    display: block;
}

.kumuluz-navbar.affix .logo-light {
    display: none;
}

.navbar-brand>img.logo-dark {
    display: none;
}

.kumuluz-navbar.affix-top .navbar-header {
    height: 80px;
}

.kumuluz-navbar.affix .logo-dark {
    display: block;
    margin: -8px;
    width: 60px;
    margin-right: 40px;
}

.navbar-default.kumuluz-navbar ul>li>a {
    height: 100px;
    line-height: 70px;
    color: #fff;
    font-weight: 600;
    font-size: 120%;
    text-shadow: none;
}

.navbar-default.kumuluz-navbar ul>li>a:hover,
.navbar-default.kumuluz-navbar ul>li>a:focus {
    background-color: #2f4050;
    color: #fff;
}

.navbar-default.kumuluz-navbar.affix ul>li>a {
    height: 50px;
    line-height: normal;
    color: #2f4050;
    font-size: 100%;
}

.navbar-default.kumuluz-navbar.affix ul>li>a:hover,
.navbar-default.kumuluz-navbar.affix ul>li>a:focus {
    background-color: #2f4050;
    color: #fff;
}

.kumuluz-navbar li.active a {
    transition: all .5s ease;
    background: #ad57a2 !important;
    color: white !important;
}


/*
 *
 * Banner section
 *
 */

.bannerImage {
    background-image: url(../img/banner.jpg);
}

.banner img {
    max-width: 350px;
    margin-bottom: 30px;
}

.backgroundImage {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table;
}

.banner>div {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.banner>div h1 {
    font-size: 50px;
    font-weight: 100;
}

.banner>div h2 {
    font-size: 24px;
    font-weight: 100;
}


/*
 *
 * KumuluzDigital section
 *
 */

.digital img {
    max-width: 450px;
}

.digital {
    padding: 70px 20px;
    padding-top: 120px;
    background: #fff;
    width: 100%;
    height: 300px;
    display: table;
}

.digital p {
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
    border-top: 1px solid #eee;
    text-align: left;
    padding-left: 100px;
    margin-bottom: 0px;
}

.digital p:nth-child(odd) {
    background: rgba(173, 87, 162, 0.03);
}

.digital .lines p img {
    height: 40px;
    margin-right: 20px;
    opacity: 0.4;
}

.digital>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.digital>div h1 {
    font-size: 60px;
    font-weight: 400;
}

.digital>div h2 {
    font-size: 24px;
    font-weight: 100;
}


/*
 *
 * Duke award
 *
 */

.dukeAwardWrapper {
    background: #fff;
}

.dukeAward {
    padding: 50px 20px;
    text-align: center;
    background: #fff;
}


/*
 *
 * Apps
 *
 */

.long-arrow-right,
.long-arrow-left {
    width: 100%;
    height: 5px;
    display: inline-block;
    background: #ad57a2;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    padding-right: 3px;
}

.long-arrow-left {
    width: 100%;
}

.long-arrow-right:after,
.long-arrow-left:after {
    content: "\e092";
    display: inline-block;
    width: 5%;
    position: absolute;
    right: 0;
    top: -12px;
    font-size: 20px;
    color: #ad57a2;
    font-family: 'Glyphicons Halflings';
}

.long-arrow-left:after {
    right: auto;
    top: -3px;
    left: -11px;
    content: "\e094";
}

.long-arrow-left:before {
    content: " ";
    height: 15px;
    width: 5px;
    display: inline-block;
    position: absolute;
    background: #ad57a2;
    right: 0;
    bottom: 0;
}

.appsWrapper {
    background: url(../img/mountains.jpg);
    background-size: cover;
}

.apps {
    text-align: center;
    padding: 50px 20px;
}

.apps a {
    text-decoration: none;
    color: #2f4050;
}

.apps .block {
    padding: 25px 20px;
    background: hsla(0, 0%, 100%, 0.90);
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    min-height: 390px;
    margin-bottom: 25px;
    transition: all 0.5s ease;
}

.apps .block:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16), 0 2px 6px rgba(0, 0, 0, .23);
}

.apps .block img {
    width: 100%;
    max-width: 300px;
    padding: 10px 50px;
}

.apps .block img.title {
    height: 25px;
    width: auto;
    padding: 0;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 200px;
    height: 200px;
    text-align: right;
}

.ribbon span {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 200px;
    display: block;
    background: linear-gradient(#ED5565 0%, #ED5565 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 41px;
    right: -38px;
}


/*
 *
 * Advantages
 *
 */

.advantages {
    text-align: center;
    padding: 50px 20px;
    background: white;
}

.advantages .block {
    background-size: cover;
    height: 300px;
    display: table;
    width: 100%;
}

.advantages .block {
    padding: 20px;
    font-size: 14px;
    background: #fff;
    display: inline-block;
    min-height: 280px;
    height: 280px;
}

.advantages .block h4 {
    line-height: normal;
}

.advantages .block img {
    margin: auto;
    display: block;
    margin-bottom: 20px;
    height: 64px;
    width: 64px;
}

.advantages .block.business {
    background-image: url(../img/business.jpg);
}

.advantages .block.technology {
    background-image: url(../img/technology.jpg);
}

.advantages .block .content {
    color: white;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    line-height: 150%;
}

.advantages .quote {
    margin-top: 50px;
}

.advantages .quote span {
    background-image: url(../img/quotes.png);
    background-size: 20px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding-left: 40px;
    font-style: italic;
    background-position-y: center;
}


/*
 *
 * References
 *
 */

.references {
    text-align: center;
    padding: 50px 20px;
    background: white;
}

.references .block {
    display: inline-block;
    float: none;
    vertical-align: middle;
    padding-bottom: 15px;
    height: 100px;
    margin: 20px;
    background: #fff;
    padding: 0;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.references .block>span {
    display: none;
    cursor: default;
}

.references .block:hover>span {
    font-size: 20px;
    font-weight: 700;
    background: hsla(0, 0%, 100%, .9);
    height: 100px;
    width: 100%;
    display: table;
}

.references .block>span>div {
    display: table-cell;
    vertical-align: middle;
}

.contactrow {
    background: white;
}


/*
 *
 * Footer
 *
 */

footer {
    height: 300px;
    background: #2f4050;
}

footer .footer {
    padding: 80px 20px;
    padding-bottom: 0;
}

.footer .block {
    margin-bottom: 10px;
}

.footer .logo {
    width: 100%;
    max-width: 300px;
}

.footer .link {
    color: #fff;
    font-weight: 700;
}

.footer .link:hover,
.footer .link:active {
    text-decoration: none;
}

.footer .copyright {
    text-align: center;
    color: #fff;
    margin-top: 40px;
}

.footer .copyright a {
    color: #fff;
    text-decoration: none;
}


/*
 *
 * Sub site
 *
 */

.subsite-container {
    min-height: 100%;
    margin-bottom: -300px;
    padding-bottom: 300px;
    background: white;
}

.filler {
    background: #2f4050;
    height: 100px;
}


/*
 *
 * Contacts
 *
 */

.worldMapImage {
    background-image: url(../img/word_map.png);
}

.contacts-container {
    background-size: contain;
    padding-bottom: 40px;
    font-size: 110%;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.contacts-container .firm {
    font-weight: 700;
    color: #ad57a2;
    font-size: 110%;
}

.contacts-container a {
    color: #ad57a2
}

.contacts-container a:hover,
.contacts-container a:focus {
    text-decoration: none;
}

.social-icons a {
    height: 30px;
    width: 30px;
    background: #ad57a2;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}


/*
 *
 * Team
 *
 */

.team {
    font-size: 110%;
}

img.cert {
    max-width: 240px;
    padding: 20px;
}


/*
 *
 * Awards
 *
 */

.awards {
    background: url(../img/awards-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.awards .articles .block {
    padding: 30px;
    background: #fff;
    margin: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.awards .articles .picture-block {
    padding: 0;
    height: 200px;
    margin-bottom: -20px;
    max-height: 200px;
    min-height: 0px;
    overflow: hidden;
    text-align: center;
}

.awards .articles .picture-block img {
    max-height: 199px;
    height: 100%;
}

.awards .articles .block .title {
    font-size: 25px;
}

.awards .articles .block .time {
    padding: 10px 0;
    font-size: 15px;
    color: #888;
}

.awards .articles .block .text {
    font-size: 110%;
    text-align: left;
}


/*
 *
 * Helpers
 *
 */

.inline-block {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin: -1px;
}

.title-line {
    width: 60px;
    height: 1px;
    margin: 60px auto 0;
    border-bottom: 2px solid #ad57a2;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}


/*
 *
 * Overrides
 *
 */

.btn-primary,
.btn-primary.active,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    background-color: #ad57a2;
    color: #fff;
    border-color: #ad57a2;
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 0px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px;
    border-radius: 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background-image: none;
}

.btn:focus,
.btn:hover {
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16), 0 2px 6px rgba(0, 0, 0, .23);
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
    box-shadow: none;
}