@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";

.accepted-cookies {
  display: none !important;
}
.km-cookies-component {
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $blue-200;
  z-index: 10000;

  display: flex;
  justify-content: center;

  .content {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
      font-family: $font-asap;
      color: $white;
      font-size: 16px;
      margin-right: 20px;
    }
  }
}

@include device-specific($media-phone) {
  .km-cookies-component {
    height: 80px;

    .content {
      width: 95%;

      div {
        font-size: 12px;
      }
      button {
        font-size: 14px;
      }
    }
  }
}

@include device-specific($media-md) {
  .km-cookies-component {
    height: 90px;

    .content {
      width: 80%;
    }
  }
}

@include device-specific($media-lg) {
  .km-cookies-component {
    height: 60px;

    .content {
      width: 60%;
    }
  }
}
