@import "../../../assets/scss/media-mixin";

.modal-dialog.km-video-player {
  max-width: 96%;
  width: 96%;
  height: 95vh;

  .modal-content {
    height: 100%;
    background-color: transparent;
    border: none;

    .modal-header {
      padding: 0;
      background-color: transparent;
      border-bottom: none;

      button {
        span {
          color: white;
        }
      }
    }
    .modal-body {
      padding: 0;
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;

      iframe {
        height: 100%;
      }
    }
  }
}

@include device-specific($media-phone) {
  .modal-dialog.km-video-player {
    max-width: 96%;
    width: 96%;

    .modal-content {
      height: 90vh;
    }
  }
}
