@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";

.km-ccm-api-page{
  .image-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .docs-body {
    h2 {
      margin-bottom: 60px;
      color: $blue-400;
      font-weight: 700;
    }
    h4 {
      color: $blue-100;
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 30px;

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
    .btn-area {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  .food, .fashion, .events, .transport, .retail {
    img {
      width: 100%;
    }
  }
}

@include device-specific($media-phone) {
  .km-ccm-api-page{
    .image-center {
      padding-bottom: 20px;

    }
    .docs-body {
      h2 {
        margin-top: 0;
      }
    }
    .mob-ord-2 {
      order: 2;
    }
    .mob-ord-1 {
      order: 1
    }
  }
}
