@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";

.km-fulfillment-api-page {
  .image-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .docs-body {
    h2 {
      margin-bottom: 60px;
      color: $blue-400;
      font-weight: 700;
    }
    h4 {
      color: $blue-100;
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 30px;

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
    .endpoints {
      margin-top: 60px;

      h3 {
        color: $blue-400;
        font-weight: 700;
      }
      .endpoint-item {
        padding: 10px 0;

        .code {
          display: inline-block;
          background-color: $blue-100;
          padding: 2px 5px;
          color: $blue-400;
          font-style: italic;
        }
        .desc {
          margin-left: 10px;
        }
      }
    }
    .btn-area {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}
