@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";


.km-comp-use-cases-component {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    .menu-item {
      width: 24%;
      cursor: pointer;
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &>span {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .underline {
          height: 4px;
          background-color: transparent;
          display: inline-block;
          width: 100%;

          &.active {
            background-color: $api;
          }
        }
        &>span {
          text-align: center;
        }
      }
    }
  }
  .section {
    padding-top: 40px;
  }
}

@include device-specific($media-phone) {
  .km-comp-use-cases-component {
    .menu {
      flex-wrap: wrap;
      margin-bottom: 10px;
      height: unset;

      .menu-item {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
