@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";

.km-payment-api-page {
  .list-extended-margins {
    margin: 0 -10%;
  }
  .image {
    background-color: $white;
    padding: 20xp;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .docs-header {
    .title {
      margin-bottom: 30px;

      h5 {
        text-align: center;
        color: $blue-400;
        font-weight: 700;
      }
    }
    .images {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 14%;
        height: auto;
      }
    }
  }
  .docs-body {
    margin-top: 40px;

    h2 {
      margin-bottom: 60px;
      color: $blue-400;
      font-weight: 700;
    }
    h4 {
      color: $blue-100;
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 30px;

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
    .btn-area {
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
}
