@import "../../../assets/scss/variables";
@import "../../../assets/scss/media-mixin";

.km-how-it-works-component {
  .blue-section {
    padding-top: 60px;
    background: $blue-top-to-bottom-gradient;

    h2, p {
      color: $white;
    }
  }
}
